html, body {
  margin: 0;
  padding: 0;
  color: #efefef;
}

nav {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px 0;
  padding-bottom: 10px; /* Due to the font */
  background-color: rgba(0, 0, 0, 0.85);
}

.nav-title {
  font-size: 26px;
  letter-spacing: 3px;
}