{% extends 'base.html' %}
{% load static %}
<!-- Header -->
{% block header %}
<title>upload</title>
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/starfall.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/intro.css' %}">
{% endblock %}

<!-- Body -->
{% block contents %}
<div class="starfall-screen">
  <div class="intro-text">
    <div class="intro-title">스캐치</div><br>

        
        <!-- <div class="hidden_json" id="hidden_json" >{{photos_json}}</div>
        <div id="hidden_meta"></div> -->
        

    {% for photo in photos %}
        {% if photo.image %}
        <img class="photo" style="width:50px; height:50px;" src="{{photo.image.url}}" alt="안뜸">
        {% endif %}
    {% endfor %}
    
    <br>
    <a href="{% url 'map_view' %}">map</a>

  </div>
  
</div>


{% endblock %}

